*{
    padding: 0;
    margin: 0;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
header{
    background-image: url(../images/1.jpg);
    height: 650px;
    margin-bottom: 30px;
}
nav{
    width: 100%;
    display: flex;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    width: 113px;
    font-size: 20px;
    display: block;
    padding: 10px 0px;
    margin: 0px 10px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Satisfy', cursive;
}
nav ul li a:hover:not(.home){
    background-color: darkred;
    font-size: 25px;
    border-radius: 10px;
}
nav ul li p{
    font-size: 20px;
    display: block;
    padding: 10px 0px;
    margin: 0px 25px;
    text-decoration: none;
    color: whitesmoke;
}
.home{
    background-color: darkorange;
    margin-left: 600px;
    border-radius: 10px;
}
/*end of navbar*/
header h1{
    color: whitesmoke;
    text-align: center;
    padding-top: 400px;
    font-size: 55px;
    word-spacing:20px;
    text-shadow: 5px 5px 6px black;
    font-family: 'Satisfy', cursive;
}
/*end of header*/
.about{
    height: 500px;
}
.about h1{
    text-align: center;
    color: rgb(255, 238, 2);
    text-shadow: 3px 3px 6px black;
    padding: 20px 0px;
}
.about p{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
}
.about div{
    float: left;
    text-align: center;
    box-sizing: border-box;
    margin-left: 100px;
    height: 300px;
    background-color:rgb(82, 78, 78);
}
.about div i{
    padding-top: 10px;
    font-size: 80px;
    color: white;
}
#col{
    background-color: yellow;
}
/*end of section about us*/
.gallery{
    height: 680px;
    margin: 90px 0px;
}
.gallery h1{
    color: rgb(255, 238, 2);
    text-shadow: 3px 3px 6px black;
    text-align: center;
    margin: 30px 0px;
    font-size: 28px;
}
.gallery img{
    background-color: yellow;
    width: 23%;
    margin-left: 15px;
    padding: 3px;
    float: left;
    height: 299px;
}
/*end of section gallery*/
.contact{
    height: 600px;
    padding: 110px 0px 30px 280px;
    background-image: url(../images/3.jpg);
}
.contact div{
    background-color: rgba(32,32,23,.7);
    width: 70%;
    height: 500px;
    border: 2px solid yellow;
}
.contact div h1{
    text-align: center;
    padding-top: 30px;
    color: wheat;
    font-size: 40px;
}
.contact div p{
    text-align: center;
    color: white;
}
.contact div form input{
    width: 90%;
    height: 50px;
    margin: 10px 30px;
    color: yellow;
    background-color: rgba(124, 241, 109, 0.3);
    border-bottom: 2px solid yellow;
}
.contact div form input::placeholder{
    color: yellow;
    font-size: 19px;
    font-family: 'Satisfy', cursive;

}
.contact div form textarea::placeholder{
    color: yellow;
    font-size: 19px;
    font-family: 'Satisfy', cursive;
}
.contact div form textarea{
    width: 90%;
    margin: 10px 30px;
    color: yellow;
    background-color: rgba(124, 241, 109, 0.3);
    border-bottom: 2px solid yellow;
}
.contact div form button{
    width: 100px;
    height: 40px;
    margin: 8px 0px 9px 300px;
    color: yellow;
    background-color: rgba(124, 241, 109, 0.3);
    cursor: pointer;
}
.contact div form button:hover{
    background-color: rgba(251, 255, 1, 0.973);
    color: green;
}
/*end pf section contact us*/
footer{
    height: 400px;
    background-color: yellow;
}
footer div{
    float: left;
}
footer div ul li a{
    width: 113px;
    font-size: 20px;
    display: block;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Satisfy', cursive;
    margin-left: 200px;
}
.fot{
    padding-top: 100px;
}
footer div ul li a:hover{
    background-color: lightslategray;
    border-radius: 2px 15px;
}
.lor{
    margin-top: 75px;
}
.lor ul{
    list-style: none;
}
.lor ul li a{
    text-decoration: none;
    font-size: 25px;
    font-family: cursive;
}
.lor ul li p{
    padding-top: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: cursive;
}
#so{
    padding-top: 30px;
    text-align: center;
    clear: left;
    font-size: 40px;
    position: relative;
    top:24px;
    right: 400px;
    margin: 0px 20px;
    transition: font-size .3s;
    cursor: pointer;
}
#so:hover{
    font-size: 30px;
}
/*end of footer*/